body {
    height: 100%;
    font-size: 14px;
    color: #333333;
    font-family: 'Muli', sans-serif;
    vertical-align: baseline;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,a,span{
  font-family: 'Poppins', sans-serif;
}
p::selection, h1::selection,h2::selection, h3::selection, h4::selection, h5::selection, h6::selection ,span::selection, a::selection, blockquote::selection{
        color: #fff;
        background:#222;
}
h1{
    font-size: 36px;
    line-height: 52px;
    color: #222;
}
h2{
    color: #222;
    font-size: 30px;
}
img{
	object-fit: cover;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
p{
    color: #333333;
    font-size: 16px;    
    line-height: 24px;
}
h3 {
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}
.btn{
    width: auto;
    font-size: 15px;
    padding: 14px 38px;
    border-radius: 0px;
    background-color: #2d2d2d;
    text-transform: uppercase;
    color: #fff;  
    border: none;
    font-weight: 600;
}
.btn:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #403f3f;
    color: #fff;
}
/* Start Navbar Section */
.sticky {
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
     background: #fff;
}
.main-menu-area.header-white .site-navigation {
    margin-top: 0px;
}
.site-navigation {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.site-navigation {
    background: #fff;
}
.navbar {
    position: relative;
    border-radius: 0px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-white .navbar-nav .nav-link {
    color: #444444;
    font-weight: 500;
    letter-spacing: .6px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 25px 15px !important;
    font-family: 'Poppins', sans-serif;
}
.dropdown:hover>.dropdown-menu {
 display: block;
}
.navbar-toggler{
    border: 1px solid #222;
 }
 .fa.fa-bars {
    color: #222;
}
.navbar-toggler:hover {
    cursor: pointer;
}
.navbar{
    padding: 0px;
}
a.nav-link.active , a.nav-link:hover{
    color: #989898 !important;
}
.dropdown-menu {
    position: absolute;
    top: 98%;
    left: 15px !important;
    z-index: 1000;
    display: none;
    min-width: 14rem;
    padding: 0;
    margin: 2px 0px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #222;
    background-clip: padding-box;
    border-radius: 0px;
    border:none;
    transition: 0.8s;
}
.dropdown-item{
    padding:8px 20px;
    font-weight: 500;
    color: #fff !important;
    font-size: 13px;
}
.dropdown-menu a:hover{
    transition: 0.8s;
    background-color: transparent;
    color: #ada9a9 !important;
}
.social-header {
    padding-left: 110px;
}
.social-header i.fa {
    color: #222222;
    padding: 0px 5px;
}
.dropdown:hover>.dropdown-menu {
 display: block;
}
/* End Navbar Section */
/* Start Gallery page */
.gallery-img img {
    width: 100%;
    height: 220px;
}
.gallery-img {
    padding: 0px;
}
.gallery-img:hover .gallery-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 1);
}
.gallery-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}
.gallery-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: -9px;
    margin-right: -59px;
    margin-top: 0px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.gallery-img:hover .middle {
    opacity: 1;
}
.gallery-info.middle a{
    color: #fff;
}
.gallery-info.middle a:hover{
    text-decoration: none;
}
/* End Gallery page */
/* Start Footer section */
#footer {
    background-color: #222222;
    padding: 25px 0px;
    position: relative;
}
#footer p{
    margin-bottom: 0px;
    color: #fff;
}
#footer span>a ,#footer a{
    font-size:  14px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;

}
#footer span>a:hover ,#footer a:hover{
    text-decoration: none;
    color: #989898;
}
/* End Footer section */
/* start About me section*/
.about-img img {
    width: 100%;
    height: 500px;
}
.about-area{
    padding:70px 0px;
}
.about-me-title{    
    padding-bottom: 120px;
}
.about-me-desc {
    padding: 140px 50px;
}
/* End About me section*/
/* Start parallax image section */
#parallax-bg{
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 100%;

}
/* End parallax image section */
/* testimonial slider*/
#testimonial{
    text-align: center;
    padding: 70px 0px;
    background-color: #f9f9f9;
}
.testimonial .pic{
    width: 100px;
    margin:0 auto;
    padding-bottom: 45px;
}
.testimonial .pic > img{
    border-radius: 50%;
    height: 110px;
    width: 110px;
}
.testimonial .testimonial-review{
    color:#fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 14px;
}
.testimonial-review > .testimonial-description{
    color: #000;
}
.testimonial .testimonial-title{
    color:#fff;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
}
.testimonial-title > small{
    color:#000;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}
.owl-theme .owl-dots .owl-dot span{
    border: 1px solid #222;
    background-color: transparent !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #222 !important;
    border: 1px solid #222;
}
 button:focus {
 outline: none;
}
/* End testimonial slider*/
/* Start gallery section*/
#our-team{
    padding: 90px 0px;
}
#our-team img {
    width: 100%;
    height: 350px;
}
.team-caption {
    text-align: center;
    padding-top: 30px;
}
.team-caption p{
    margin-bottom: 0px;
}
/* End Team section*/

/* Start gallery page */
#portfolio img{
  width: 100%;
  height: 300px !important;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}
.portfolioContainer{
    width: 100%;
    overflow: hidden; 
}
#portfolio.grid-full .categories,
#portfolio.masonry-full .categories{
    padding: 0px !important;
}  
#portfolio.masonry  .categories,
#portfolio.grid  .categories{
    padding-right: 7px;
    padding-bottom: 14px;
    padding-left: 7px; 
}
#portfolio.masonry  .categories:nth-child(3n+0),
#portfolio.grid.grid-3 .categories:nth-child(3n+0) {
        
}
#portfolio.grid-3 {
    padding-right: 7px !important;
    padding-left: 7px !important;
}
/*.categories:nth-child(3n+0), .categories:nth-child(5n+0), .categories:nth-child(7n+0) {
    padding-right: 0px !important;
}*/
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .1s all linear;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: -9px;
  margin-right: -59px;
  margin-top: 0px;
}
.portfolio-item {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.portfolio-item:hover .middle{
  opacity:1;
}
.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}
.portfolio-item:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.categories{
padding: 0px;
}
/* 3 columns by default */
.grid-sizer { width: 33.333%; }

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 20%; }
}
.portfolioContainer{
    display: inline-block;
    min-height: 500px;
}
.portfolioContainer img {
  margin:0px;
  padding: 0px;
}
.mfp-close:hover {
    cursor: pointer !important;
}
.portfolio-info h5{
    color: #fff;
    font-size: 25px;
}
#portfolio.masonry  div div:nth-child(2) img,
#portfolio.masonry-full  div div:nth-child(2) img{
    height: 370px !important;
}
#portfolio.masonry  div div:nth-child(4) img,
#portfolio.masonry-full  div div:nth-child(4) img{
    height: 470px !important;
}
#portfolio.masonry  div div:nth-child(8) img,
#portfolio.masonry-full  div div:nth-child(8) img{
    height: 470px !important;
}
/*#portfolio.grid.masonry  .categories{    
    left: 867.312px !important;
}*/

/*.portfolioFilter.clearfix {
    padding-bottom: 60px;
}*/
.portfolioFilter.clearfix a{
    color: #fff;
}
/* End Gallery page */
/* Start Blog page */
#latest-blogs {
    padding-bottom: 50px; 
}
#latest-blogs h2{
    font-size: 38px;
    padding-bottom: 60px;
}
#latest-blogs img{
    width: 100%;
    height: 220px;
}
.blog-listing {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
#latest-blogs .recent-blog {
    padding: 30px;
}

.blog-body{
    padding: 20px;
}
.blog-body p{
    font-size: 14px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
}
.blog-body h6{
    font-size: 18px;
    color: #262626;
}
.blog-body a>h6:hover, #latest-blogs a>span:hover{
    color: #989898;
 }
.blog-body a:hover{
text-decoration: none;

}
#latest-blogs a>span{
    float: right;
    font-size: 14px;
    color: #222;
    font-weight: 500;
}
.no-of-comments{
    font-size: 13px;
}
i.fa.fa-comment-o {
    font-size: 20px;
}
/* End blog page */

/* Start Blog details page css */
#blog-details-page {
  padding-bottom: 90px;
}
#blog-details-page  h4{
    padding-left: 32px !important;
    color: #222;
}
#blog-details-page .blog-details img{
    width: 100%;
    height: 600px;
}
#blog-details-page .blog-details p.blog-date{
    width: 25%;
    font-weight: bolder
}
#blog-details-page .blog-details-description {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding-bottom: 45px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
}
#blog-details-page .blog-details-description h3 {
    font-weight: bolder;
    color: #272727;
    padding-bottom: 20px;
    font-size: 23px;
}
#blog-details-page .blog-details-description p {
    font-size: 14px;
    color: #505050;
}
#blog-details-page .comments {
    margin-top: 50px;
    padding: 30px 0px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}
#blog-details-page .comments .comments-description {
  font-size: 14px;
  padding-top: 20px;
  padding-right: 35px;
  padding-left: 40px;
}
#blog-details-page .comments .comments-description p:last-child{
    float: right;
    text-align: right;
}
#blog-details-page .comments .comments-description p>span{
    color: #c5c5c5;
}
#blog-details-page .comments .comments-img {
    padding-top: 20px;
}
#blog-details-page .comments .comments-img img {
  padding-left: 36px;
  width: 100%;
}
#blog-details-page .comments .comments-img p{
    font-weight: bolder;
    padding-top: 15px;
    text-align: center;
}
#blog-details-page .comments .comments-img span{
    font-weight: 100;
    border-bottom: none;
    color: darkgray;
    font-size: 12px;
}
#blog-details-page .post-comment {
  padding: 10px 0px 20px 0px;
}
#blog-details-page .text-center .btn.btn-infos{
    margin-top: 50px !important;
}
.personal label{
  float:left;
  width:25%;
  font-size: 16px;
  color: #222;
}
.personal input[type=text], .personal textarea {
    width: 75%;
    border: 1px solid #d5d5d7;
    box-sizing: border-box;
    margin-bottom: 14px;
}
#blog-details-page form {
    padding-left: 30px;
    padding-right: 28px;
    margin-top: 35px;
}
#blog-details-page .form-control-lg{
    height:38px;
    border-radius: 0px;
    margin-bottom: 7px; 
}
#blog-details-page .post-comment .comment-btn {
    text-align: center;
}
/* End Blog Detail Page */
/* Start get-in-touch */
.get-in-touch{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 0;
    padding: 80px 0px 80px;
}
.get-in-touch .title{
    color: #fff;
}
.get-in-touch::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 1);
    z-index: -1;
}
.get-in-touch a, .get-in-touch p {
    font-size: 16px;
    color: #000;
    display: block;
}
.get-in-touch a:hover{
    color: #989898;
    text-decoration: none;
}
.get-in-touch .fa{
    background: #222;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    border-radius: 50%;
}  
 .get-in-touch .fa-home, .get-in-touch .fa-envelope-o {
    padding: 14px 14px;
}
 .get-in-touch i{
    padding-bottom: 30px;
} 
#contact-section{
    padding: 120px 0;
    background-color: #f5f5f5;
}
.contact-form .form-group, .contact-form .form-group {
    margin-bottom: 30px;
}
.form-group {
    position: relative;
}
.contact-form textarea.form-control, .contact-form input.form-control {
    background: #fff;
    border: none;
    border-radius: 5px;
    color: #121212;
    padding: 12px 15px;
    font-size: 15px;
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
}
.contact-form input.form-control {
    height: 53px;
}
.contact-form textarea.form-control {
    max-height: 130px;
    line-height: 28px;
}
.pad-30 {
    padding: 30px 0px 30px 30px;
}   
.contact-info-inner {
    padding: 30px;
    border-radius: 10px;
    color: #111;
    background-color: #f6f6f6;    
}
.contact{
    padding-top: 100px;
}
/* End get in touch */
/*  Start Responsive query */
@media screen and (min-width:320px) and (max-width:992px) {
.sticky{
    padding: 26px 0px;
}
ul.navbar-nav.ml-auto {
    border-top: 1px solid #f5f5f5;
    margin-top: 26px;
}
.sticky .container{
    padding: 0px;
    max-width: 100% !important;
}
a.navbar-brand img {
    margin-left: 20px;
}
a.navbar-brand {    
    margin-right: 0px;
}
button.navbar-toggler {
    margin-right: 20px;
}
.navbar-white .navbar-nav .nav-link{
    padding: 34px 18px 5px !important;
}
.about-me-desc {
    padding: 30px 20px 0px;
}
.team-caption {
    padding-bottom: 60px;
}
#latest-blogs .recent-blog {
    padding: 30px 10px !important;
}
header#main-menu {
    padding: 20px 0px;
}
.social-header {
    padding-left: 12px;
    padding-top: 20px;
}
}
@media screen and (min-width:320px) and (max-width:575px) {
 .portfolioContainer {
    width: 100%;
    display: inline-block;
}   
}
@media only screen and (min-width: 320px) and (max-width: 390px) {
 .portfolioFilter a {
   margin-right: 10px;
   padding: 2px 7px;
}
}
@media screen and (min-width:320px) and (max-width:767px) {
.portfolioFilter a {
    margin-top: 10px;
}
#blog-details-page .blog-details-description {
    padding-left: 30px;
    padding-right: 30px;
}
#blog-details-page .comments .comments-img img {
    padding-left: 0px; 
    width: 100px;
}
#blog-details-page .comments .comments-img{
    padding-left: 48px;
}
.personal input[type=text], .personal textarea {
    width: 100% !important;
}
.personal label {
    float: none !important;
}
.contact-list{
    padding-bottom: 45px;
}
}
@media screen and (min-width:320px) and (max-width:480px) {
.categories {
    padding: 0px 10px 10px 10px;
}  
a.navbar-brand img {
    width: 200px;
}
}
@media screen and (min-width:481px) and (max-width:575px) {
.categories{
    padding: 0px 20px 20px 20px;
}
}   
@media screen and (min-width:768px) and (max-width:840px){
.portfolioContainer{
   width: 100%;
}
}
@media screen and (min-width:576px) and (max-width:768px) {
}
@media screen and (min-width:576px) and (max-width:992px) {
.portfolioContainer{
   width: 100%;
}
.categories{
    padding: 0px 20px 20px 20px;
}
}     
@media screen and (min-width:992px) and (max-width:1199px) {
.portfolioContainer{
   width: 100%;
}
.categories{
    padding: 0px 20px 20px 20px;
}

#blog-details-page .comments .comments-img {
    padding-left: 40px;
}
#blog-details-page .comments .comments-img img {
    padding-left: 0px; 
    width: 100px;
}
}
@media only screen and (min-width: 481px) and (max-width: 767px){
#portfolio img {
    width: 100%;
}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    #blog-details-page .comments .comments-img {
    padding-left: 40px;
}
#blog-details-page .comments .comments-img img {
     padding-left: 0px; 
    width: 100px;
}
.contact-list p{
    padding: 0px 25px;
}
}
/*  End Responsive query */   



/*Portfolio pages */

/* Start Portfolio pages */


#portfolio.grid  div div:nth-child(2) img,#portfolio.grid  div div:nth-child(4) img, #portfolio.grid  div div:nth-child(8) img, #portfolio.grid  div div:nth-child(11) img, #portfolio.grid  div div:nth-child(12) img{
    height: 300px !important;
}
#portfolio.grid-full img{
    height: 300px !important;
}
#portfolio.grid-full .categories {
    padding: 0px !important;
}
#portfolio.grid-full  div div:nth-child(2) img,#portfolio.grid-full  div div:nth-child(4) img, #portfolio.grid-full  div div:nth-child(8) img, #portfolio.grid-full  div div:nth-child(11) img, #portfolio.grid-full  div div:nth-child(12) img{
    height: 300px !important;
}
#portfolio.masonry-full .categories{
    padding: 0px !important;
}
#portfolio.masonry-full .portfolioContainer{
    width: 100%;
}
#portfolio.grid-full .portfolioContainer{
    width: 100%;
}

@media screen and (max-width: 767px){
    #blog-details-page .blog-details img {
        height: 400px;
    }
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}