<!-- Start parallax image section -->
<section id="parallax-bg" style="background-image:url({{ file_url(content.field_background_image['#items'].entity.uri.value)}});">
</section>
<!-- End parallax image section -->
