<!-- start about me  -->
<section class="about-area">
    <div class="container">
        <div class="row">  
            <div class="col-md-12 text-center about-me-title">           
              <h1>{{content.field_title.0}}</h1>  
            </div>       
            <div class="col-xl-6 col-lg-6">
                <div class="row">
                  <div class="about-img">
                    <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                   class="img-fluid" 
                   alt="{{ content.field_image['#items'].alt }}" 
                   title="{{ content.field_image['#items'].title }}">
                  </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 about-me-desc">
                <h2>{{content.field_name.0}}</h2>
                <div class="about-content">
                    <p>{{content.field_description.0}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about me  -->