<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
  <img src="{{ file_url(content.field_member_image['#items'].entity.uri.value)}}"
       alt="{{ content.field_member_image['#items'].alt }}" 
       title="{{ content.field_member_image['#items'].title }}">
  <div class="team-caption">
    <h5>{{content.field_name.0}}</h5>
    <p>{{content.field_designation.0}}</p>
  </div>
</div>