
<!-- Start  get-in-touch -->
    <div class="get-in-touch">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 contact-list wow fadeInLeft" data-wow-delay="0.3s">                  
                    <i class="fa fa-phone"></i>
                    <a href="tel:{{content.field_primary_phone_no.0}}">
                      {{content.field_primary_phone_no.0}}
                    </a>
                    {% if content.field_secondary_phone_no.0 %}
                     <a href="tel:{{content.field_secondary_phone_no.0}}">
                      {{content.field_secondary_phone_no.0}}
                    </a>
                  {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 contact-list wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-home"></i>
                    {{content.field_address.0}}
                </div>
                <div class="col-lg-3 col-md-3 contact-list wow fadeInRight" data-wow-delay="0.9s">
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:{{content.field_primary_email.0}}">{{content.field_primary_email.0}}
                    </a>
                    {% if content.field_secondary_email.0 %}
                      <a href="mailto:{{content.field_secondary_email.0}}">{{content.field_secondary_email.0}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-10 mx-auto contact">
              {{content.field_contact_form}}
            </div>
        </div>
    </div>
<!-- End  get-in-touch -->