 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 categories">
    <div class="portfolio-item wow fadeInUp">
      <a href="{{ fields.field_image2_1.content }}" class="portfolio-popup">
        {{ fields.field_image2.content }}
        <div class="portfolio-overlay">
          <div class="portfolio-info middle"><p class="wow fadeInUp"></p>
          <h5>{{fields.title.content}}</h5>
          </div>
        </div>
      </a>  
    </div>
</div>