<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 gallery-img">
	{{fields.field_image.content}}
  <div class="gallery-overlay">
    <div class="gallery-info middle">
      <h4><a href="{{fields.view_node.content}}">
      		{{fields.title.content}}
      	</a></h4>
      <p><a href="{{fields.view_node.content}}">
      	{{fields.field_designation.content}}
      </a></p>
    </div>
  </div>
</div>