<!-- Testimonial slider  -->
<section id="testimonial">
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="testimonial-slider owl-carousel owl-theme">
            	{% for row in rows %}
			        {{ row.content }}
			    {% endfor %} 
            </div>
        </div>
    </div>
</div>
</section>

<!-- End Testimonial slider  -->

 <div class="row">
   <div class="testimonial owl-carousel owl-theme">
    
   </div>        
</div>