<!-- Latest Blog -->
  <section id="latest-blogs">
    <div class="container">
      <div class="row">
        {% for row in rows %}
          {{row.content}}
        {% endfor %}
      </div>
    </div>
  </section>
