{#
/**
* @file
* Default theme implementation to display a menu.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*   - is_expanded: TRUE if the link has visible children within the current
*     menu tree.
*   - is_collapsed: TRUE if the link has children within the current menu tree
*     that are not currently visible.
*   - in_active_trail: TRUE if the link is in the active trail.
*
* @ingroup templates
*/
#}
{% import _self as menus %}

{#
 We call a macro which calls itself to render the full tree.
 @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if menu_level == 0 %}
     <div class="collapse navbar-collapse " id="navbarCollapse">
   <ul class="navbar-nav ml-auto">
  {% endif %}
  {% if items %}
    {% for item in items %}
      {% if item.below %}
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenu-{{ item.title }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.title }}  <i class="fa fa-chevron-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu-{{ item.title }}">
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            </div>
          </li>
      {% else %}
            {%
              set classes = [
                'nav-link' ,
                item.in_active_trail ? 'active',
              ]
            %}
            {% if menu_level == 0 %}
              <li class="nav-item">
                <a href="{{item.url}}" 
                   {{ item.attributes.addClass(classes)}}>
                    {{ item.title }}
                </a>
              </li>
            {% else %}
              <a class="dropdown-item" href="{{item.url}}">
                {{ item.title }}
              </a>
            {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  
{% endmacro %}
    </ul>
</div>