{# {% set createdDate = created|date('Y-m-d') %}
{% set createdTime = created|date('H:i:s') %}
 #}
<div class="row">      
	<div class="col-md-2 comments-img">
		<img src="{{author_image}}" alt="{{ author }}" class="img-fluid" title="{{ author }}">  
	</div>
	<div class="col-md-10 comments-description">
	  {{content}}
	  <p>{{ author }}<br><span>{{created}}</span></p>
	</div>
</div>