<!-- Gallery SECTION -->  
  <section id="portfolio" class="text-center {{content.field_view_mode['#items'].getString()}}">
    <div class="portfolioContainer">
        <div class="row">
            {{content.field_photograph}}
        </div>
    </div>
  </section>  
<!--  END Gallery SECTION -->