
<section id="blog-details-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 blog-details">
          {{content.field_image}}     
          <div class="blog-details-description">
            <h3>{{ node.title.value }}</h3>
            {{ content.body }}
          </div> 
        </div>
        </div>
        {{ content.comment }}
    </div>
  </section>
 
<!-- End blog details -->