<header class="main-menu-area" id="main-menu">
  <nav class="navbar navbar-expand-lg navbar-white site-navigation navbar-togglable">

    <div class="container">
      {{page.logo}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
      </button>
      {{page.primary_menu}}
        <div class="social-header clone">
          <a href="{{facebook}}"><i class="fa fa-facebook-f"></i></a>
          <a href="{{twitter}}"><i class="fa fa-twitter"></i></a>
          <a href="{{linkedin}}"><i class="fa fa-linkedin"></i></a>            
          <a href="{{pinterest}}"><i class="fa fa-pinterest"></i></a>
        </div>
     </div>
  </nav>
</header>
<!-- End Navbar -->

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>401</h1>
          <h2>Unauthorized Response Error</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p class="not-p">You are not authorized to access this page. You must login to view this page.</p>
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}

<!--  Start footer section -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <p>© 2018<span> <a href="#"> YG Pixel</a></span>. All rights reserved. Developed by <a href="https://www.drupaldevelopersstudio.com/" target="_blank">Drupal Developers Studio</a></p>
      </div>
    </div>
  </div>
</section>
<!--  End footer section -->